<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
        <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
        <error-page>
        <error-code>500</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controllers.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>controllers.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pass</servlet-name>
        <servlet-class>controllers.PassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminpur</servlet-name>
        <servlet-class>controllers.AdminPurchaserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manage-author</servlet-name>
        <servlet-class>controllers.AdminAuthorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lock</servlet-name>
        <servlet-class>controllers.LockAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>course</servlet-name>
        <servlet-class>controllers.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>author</servlet-name>
        <servlet-class>controllers.AuthorPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>author-edit</servlet-name>
        <servlet-class>controllers.AuthorEditCoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coursemanager</servlet-name>
        <servlet-class>controllers.CourseManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coursedetail</servlet-name>
        <servlet-class>controllers.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create-course</servlet-name>
        <servlet-class>controllers.CreateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create-course1</servlet-name>
        <servlet-class>controllers.CreateCourse1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit1</servlet-name>
        <servlet-class>controllers.AuthorEditCoursesController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editimg</servlet-name>
        <servlet-class>controllers.EditImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecourse</servlet-name>
        <servlet-class>controllers.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCourse</servlet-name>
        <servlet-class>controllers.AdminCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giftCourse</servlet-name>
        <servlet-class>controllers.GiftCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>controllers.CourseContentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogview</servlet-name>
        <servlet-class>controllers.BlogViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageBlog</servlet-name>
        <servlet-class>controllers.BlogManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecture</servlet-name>
        <servlet-class>controllers.LectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifications</servlet-name>
        <servlet-class>controllers.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followedlist</servlet-name>
        <servlet-class>controllers.FollowedListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authorprofile</servlet-name>
        <servlet-class>controllers.AuthorProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pass</servlet-name>
        <url-pattern>/account/pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/account/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminpur</servlet-name>
        <url-pattern>/manage-purchaser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage-author</servlet-name>
        <url-pattern>/manage-author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lock</servlet-name>
        <url-pattern>/lock_acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>author</servlet-name>
        <url-pattern>/account/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>author-edit</servlet-name>
        <url-pattern>/account/author-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create-course</servlet-name>
        <url-pattern>/create-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create-course1</servlet-name>
        <url-pattern>/create-course1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit1</servlet-name>
        <url-pattern>/account/author-edit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editimg</servlet-name>
        <url-pattern>/account/editimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecourse</servlet-name>
        <url-pattern>/account/detecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCourse</servlet-name>
        <url-pattern>/admin/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/vnpay_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giftCourse</servlet-name>
        <url-pattern>/gift-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogview</servlet-name>
        <url-pattern>/blogview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageBlog</servlet-name>
        <url-pattern>/manageblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecture</servlet-name>
        <url-pattern>/lecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coursedetail</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifications</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followedlist</servlet-name>
        <url-pattern>/account/followedlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authorprofile</servlet-name>
        <url-pattern>/authorprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coursemanager</servlet-name>
        <url-pattern>/coursemanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30 
        </session-timeout>
    </session-config>
</web-app>
